{% extends 'base.html.twig' %}

{% block title %}Book {{ book.title }}{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Release date</th>
                <td>{{ book.releaseDate }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author.name }}</td>
            </tr>
            <tr>
                <th>Kind</th>
                <td>{{ book.kind.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>
{% endblock %}
